@import "variables";

html {
  font-size: 125%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: $background;
  color: white;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

.searchPage img {
  width: 100%;
  height: 100%;
}

