.group{
    padding: 1rem;
    .form-input{
        width: 100%;
        margin: .5rem 0;
        padding: 10px 10px 10px 5px;
          border-radius: 8px;
          outline: none;
          border: 1px solid #fff;
          background-color: rgb(30, 40, 66) ;
          color: #fff;
        }
    .form-input-label{
       padding-bottom: .2rem;
       text-align: left;
    }
}

