.custom-button{
    border: none;
    border-radius: 57px;
    color: #fff;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bolder;
        cursor: pointer;
}
.signin {
    width: 50%;
    background-color: #1FA5FF;
     &:hover{
        background-color: #fff;
        color: #1FA5FF;
        transition: ease-in-out .2s;
    }
}

.google-sign-in {
    width: 100% ;
    margin: .5rem auto;
    // margin-left: 1rem;
    background-color: #ffffff;
    color: #000000;
  }

  @media screen and (max-width: 768px) {
.signin{
    width: 50%;
}     
  }