h1 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
  text-align: center;
}

.searchHeading {
  text-transform: capitalize;
}

// SEARCH INPUT

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userSearch {
  // width: 100%;

  input {
    background: darkslategrey;
    color: white;
    // opacity: 0.5;
    padding: 6px 15px;

    border: white;
    box-shadow: 0px 3px 7px rgba(185, 185, 185, 0.15);
    border-radius: 30px;

    &::placeholder {
      color: white;
      opacity: 0.5;
    }
  }
}

// FILTER RESULTS

// .resultsSection {
//   display: flex;
// }

.filterSelect {
  display: flex;
}
  
.filterOptions {
  display: flex;

  li {
    list-style: none;

      button {
        border: none;
        background: inherit;
        color: white;
        opacity: 0.6;

          &:hover {
            opacity: 1;
          }
      }
  }
}

.resultContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

    .result {
      flex: 0 1 auto;
      list-style: none;
      border: 2px solid white;
      border-radius: 22px;
      margin-bottom: 60px;

      width: 250px;
      height: 400px;
      // overflow-y: hidden;
    }
}

.posterContainer {
  object-fit: cover;
  z-index: -10;
  
}

.resultsInfo {
  display: flex;
  justify-content: space-between;
}

.dbInfo {
  display: flex;

    .imgContainer {
      width: 30px;
      height: 10px; 
    }
}

