html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.App h1 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
  font-size: 2.4rem;
  text-align: center;
  margin: 0;
  padding: 60px 0 30px 0;
}

h2,
h3 {
  font-weight: 700;
}

h2 {
  font-size: 1.2rem;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

.homepage {
  min-height: 100vh;
  background-image: linear-gradient(0deg, #1f2123 0%, #1f2123 35.44%, rgba(31, 33, 35, 0) 148.73%), url(../../assets/images/dunkirk.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: linear-gradient(0deg, #1f2123 0%, #1f2123 35.44%, rgba(31, 33, 35, 0) 148.73%);
}

.header {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  margin-left: 2rem;
}
.header .header-right .watch-btn {
  border: none;
  background: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  margin: 2rem;
  color: #1a1a1a;
}

#user-text {
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 24px;
  border: none;
  text-align: center;
  margin: 0 2rem;
  border-radius: 50%;
  background-color: #ffffff;
}

.sign-out {
  font-size: 16px;
  border: none;
  background-color: #ffffff;
  border-radius: 4px;
  margin-top: 1rem;
  padding: 0.5rem;
}
.sign-out:hover {
  background-color: #1a1a1a;
  color: #ffffff;
  transition: ease-in-out 0.4s;
}

.searchHeading {
  text-transform: capitalize;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.userSearch {
  position: relative;
  width: 40%;
  background: rgb(38, 65, 65);
  opacity: 0.6;
  padding: 8px 40px 8px 6px;
  border-radius: 30px;
  box-shadow: 0px 3px 7px rgba(90, 89, 89, 0.15);
}
.userSearch input {
  width: 92%;
  background: rgb(22, 22, 22);
  color: white;
  padding: 6px 15px;
  border: white;
  box-shadow: 0px 3px 7px rgba(185, 185, 185, 0.15);
  border-radius: 30px;
}
.userSearch input::-moz-placeholder {
  color: white;
  opacity: 0.7;
}
.userSearch input:-ms-input-placeholder {
  color: white;
  opacity: 0.7;
}
.userSearch input::placeholder {
  color: white;
  opacity: 0.7;
}
.userSearch input:focus {
  outline: 0;
}

.userSearch input:focus + button i {
  color: white;
}

.searchButton {
  border: none;
  background: none;
  position: absolute;
  right: 6px;
  top: 13px;
}
.searchButton:active i, .searchButton:focus i {
  color: white;
}
.searchButton i {
  color: rgb(8, 8, 8);
}

.filter {
  margin: 15px 0 10px;
}

.filterSelect {
  display: flex;
}

.filterOptions {
  display: flex;
  margin: 0;
}
.filterOptions li {
  list-style: none;
  margin: 0 6px;
}
.filterOptions li button {
  border: none;
  background: inherit;
  color: #999999;
}
.filterOptions li button:hover, .filterOptions li button:focus {
  color: white;
}

.resultContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.resultContainer .result {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 auto;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 1rem auto;
  box-shadow: 1px 1px 12px 1px rgba(126, 126, 126, 0.25);
  border-radius: 5px;
}
.resultContainer .result h3 {
  position: absolute;
  bottom: 45px;
  font-size: 1.3rem;
  text-align: center;
}

.posterContainer {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  height: 400px;
  width: 350px;
}
.posterContainer img {
  opacity: 0.45;
  box-shadow: 1px 1px 12px 1px rgba(126, 126, 126, 0.25);
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.resultsInfo {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  z-index: 10;
}
.resultsInfo p {
  font-size: 0.9rem;
}

.detailsButton {
  position: absolute;
  bottom: 25px;
  font-size: 0.9rem;
  padding: 8px 15px;
  border: none;
  background-color: #1FA5FF;
  color: white;
  border-radius: 70px;
}
.detailsButton:hover {
  background-color: #ffffff;
  color: #1FA5FF;
  transition: ease-in-out 0.4s;
}

.saveButtons button {
  border: none;
  border-radius: 50%;
  padding: 6px;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.1);
}
.saveButtons button .fa-eye,
.saveButtons button .fa-bookmark {
  color: white;
}

.fa-eye {
  height: 20px;
  width: 23px;
}

.fa-bookmark {
  height: 20px;
  width: 23px;
}

.saveButtons,
.dbInfo {
  margin: 0 25px;
}

.dbInfo {
  display: flex;
}

.logoContainer {
  width: 40px;
  height: 24px;
  margin-right: 15px;
}

.deet-delete-btn {
  display: flex;
  position: absolute;
  bottom: 2%;
  justify-content: space-between;
  width: 90%;
}

.watchDetailsButton {
  padding: 8px 15px;
  border: none;
  background-color: #1FA5FF;
  color: white;
  border-radius: 70px;
}
.watchDetailsButton:hover {
  background-color: #ffffff;
  color: #1FA5FF;
  transition: ease-in-out 0.4s;
}

.deleteButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #1FA5FF;
  background-color: transparent;
  color: #1FA5FF;
}

.errorMessage h3 {
  font-size: 0.9rem;
  color: #cccccc;
}
.errorMessage p {
  color: #999999;
}

@media screen and (max-width: 768px) {
  .resultContainer {
    margin-left: -2rem;
  }

  .posterContainer {
    height: 300px;
    width: 250px;
    margin: 0 auto !important;
  }
  .posterContainer img {
    width: 100% !important;
    height: 100% !important;
  }

  .result {
    margin: 1rem auto !important;
  }
}/*# sourceMappingURL=homepage.css.map */