.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.App h1 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
  font-size: 2.4rem;
  text-align: center;
  margin: 0;
  padding: 60px 0 30px 0;
}

h2,
h3 {
  font-weight: 700;
}

h2 {
  font-size: 1.2rem;
}

p {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

.homepage {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1f2123), color-stop(35.44%, #1f2123), color-stop(148.73%, rgba(31, 33, 35, 0))), url(../../assets/images/dunkirk.png);
  background-image: linear-gradient(0deg, #1f2123 0%, #1f2123 35.44%, rgba(31, 33, 35, 0) 148.73%), url(../../assets/images/dunkirk.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: linear-gradient(0deg, #1f2123 0%, #1f2123 35.44%, rgba(31, 33, 35, 0) 148.73%);
}

.header {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  margin-left: 2rem;
}

.header .header-right .watch-btn {
  border: none;
  background: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  margin: 2rem;
  color: #1a1a1a;
}

#user-text {
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 24px;
  border: none;
  text-align: center;
  margin: 0 2rem;
  border-radius: 50%;
  background-color: #ffffff;
}

.sign-out {
  font-size: 16px;
  border: none;
  background-color: #ffffff;
  border-radius: 4px;
  margin-top: 1rem;
  padding: 0.5rem;
}

.sign-out:hover {
  background-color: #1a1a1a;
  color: #ffffff;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.searchHeading {
  text-transform: capitalize;
  margin: 0;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userSearch {
  position: relative;
  background: #264141;
  opacity: 0.6;
  padding: 6px 40px 6px 6px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 3px 7px rgba(90, 89, 89, 0.15);
          box-shadow: 0px 3px 7px rgba(90, 89, 89, 0.15);
}

.userSearch input {
  background: #161616;
  color: white;
  padding: 6px 15px;
  border: white;
  -webkit-box-shadow: 0px 3px 7px rgba(185, 185, 185, 0.15);
          box-shadow: 0px 3px 7px rgba(185, 185, 185, 0.15);
  border-radius: 30px;
}

.userSearch input::-webkit-input-placeholder {
  color: white;
  opacity: 0.7;
}

.userSearch input:-ms-input-placeholder {
  color: white;
  opacity: 0.7;
}

.userSearch input::-ms-input-placeholder {
  color: white;
  opacity: 0.7;
}

.userSearch input::placeholder {
  color: white;
  opacity: 0.7;
}

.userSearch input:focus {
  outline: 0;
}

.userSearch input:focus + button i {
  color: white;
}

.searchButton {
  border: none;
  background: none;
  position: absolute;
  right: 6px;
  top: 13px;
}

.searchButton:active i,
.searchButton:focus i {
  color: white;
}

.searchButton i {
  color: #080808;
}

.filter {
  margin: 15px 0 10px;
}

.filterSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filterOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.filterOptions li {
  list-style: none;
  margin: 0 6px;
}

.filterOptions li button {
  border: none;
  background: inherit;
  color: #999999;
}

.filterOptions li button:hover, .filterOptions li button:focus {
  color: white;
}

.resultContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.resultContainer .result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 1rem auto;
  -webkit-box-shadow: 1px 1px 12px 1px rgba(126, 126, 126, 0.25);
          box-shadow: 1px 1px 12px 1px rgba(126, 126, 126, 0.25);
  border-radius: 5px;
}

.resultContainer .result h3 {
  position: absolute;
  bottom: 45px;
  font-size: 1.3rem;
  text-align: center;
}

.posterContainer {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  height: 400px;
  width: 350px;
}

.posterContainer img {
  opacity: 0.45;
  -webkit-box-shadow: 1px 1px 12px 1px rgba(126, 126, 126, 0.25);
          box-shadow: 1px 1px 12px 1px rgba(126, 126, 126, 0.25);
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.resultsInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 10px;
  z-index: 10;
}

.resultsInfo p {
  font-size: 0.9rem;
}

.detailsButton {
  position: absolute;
  bottom: 25px;
  font-size: 0.9rem;
  padding: 8px 15px;
  border: none;
  background-color: #1FA5FF;
  color: white;
  border-radius: 70px;
}

.detailsButton:hover {
  background-color: #ffffff;
  color: #1FA5FF;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.saveButtons button {
  border: none;
  border-radius: 50%;
  padding: 6px;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.saveButtons button .fa-eye,
.saveButtons button .fa-bookmark {
  color: white;
}

.fa-eye {
  height: 20px;
  width: 23px;
}

.fa-bookmark {
  height: 20px;
  width: 23px;
}

.saveButtons,
.dbInfo {
  margin: 0 25px;
}

.dbInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logoContainer {
  width: 40px;
  height: 24px;
  margin-right: 15px;
}

.deet-delete-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 2%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.watchDetailsButton {
  padding: 8px 15px;
  border: none;
  background-color: #1FA5FF;
  color: white;
  border-radius: 70px;
}

.watchDetailsButton:hover {
  background-color: #ffffff;
  color: #1FA5FF;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.deleteButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #1FA5FF;
  background-color: transparent;
  color: #1FA5FF;
}

.errorMessage h3 {
  font-size: 0.9rem;
  color: #CCCCCC;
}

.errorMessage p {
  color: #999999;
}
/*# sourceMappingURL=homepage.css.map */