@import "../../styles/sass/normalize";
@import "../../styles/sass/variables";

.App h1 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
  font-size: 2.4rem;
  text-align: center;
  margin: 0;
  padding: 60px 0 30px 0;
}

h2, h3 {
  font-weight: 700;
}

h2 {
  font-size: 1.2rem;
}

p {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

.homepage {
  min-height: 100vh;
  background-image: linear-gradient(0deg, #1F2123 0%, #1F2123 35.44%, rgba(31, 33, 35, 0) 148.73%), url(../../assets/images/dunkirk.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: linear-gradient(0deg, #1F2123 0%, #1F2123 35.44%, rgba(31, 33, 35, 0) 148.73%);
  
}
.header{

  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo{
    margin-left: 2rem;
  }
  .header-right{
    .watch-btn{
      border: none;
      background: none;
      color: #ffffff;
      font-size: 16px;
      line-height: 19px;
      cursor: pointer;
    }
  }
}
.dropdown{
  position: absolute;
  right: 0;
  top: 2rem;
  width: fit-content;
  text-align: center;
  margin: 2rem;
  color: #1A1A1A;
  
}
#user-text{
  position: relative;
  width:40px;
  height: 40px;
  border:none;
text-align: center;
 margin: 0 2rem;
 border-radius: 50%;
  background-color: #ffffff;
}
.sign-out{
  font-size: 16px;
  border: none;
  background-color: #ffffff;
  border-radius: 4px;
  margin-top: 1rem;
  padding: .5rem;
  &:hover{
    background-color: #1A1A1A;
    color: #ffffff;
    transition: ease-in-out .4s;
  }
}
.searchHeading {
  text-transform: capitalize;
  margin: 0;
}

// SEARCH INPUT

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userSearch {
  position: relative;
  background: rgb(38, 65, 65);
  opacity: 0.6;
  padding: 6px 40px 6px 6px;
  border-radius: 30px;
  // background: #999999;
  box-shadow: 0px 3px 7px rgba(90, 89, 89, 0.15);
  input {
    background: rgb(22, 22, 22);
    color: white;
    padding: 6px 15px;
    border: white;
    box-shadow: 0px 3px 7px rgba(185, 185, 185, 0.15);
    border-radius: 30px;
    &::placeholder {
      color: white;
      opacity: 0.7;
    }
    &:focus {
      outline: 0;
    }
  }
}

.userSearch input:focus + button i {
  color: white;
}

.searchButton {
  border: none;
  background: none;
  position: absolute;
  right: 6px;
  top: 13px;
  &:active i, &:focus i {
    color: white;
  }
  i {
    color:rgb(8, 8, 8);
  }
}

// FILTER

.filter {
  margin: 15px 0 10px;
}

.filterSelect {
  display: flex;
}

.filterOptions {
  display: flex;
  margin: 0;
  li {
    list-style: none;
    margin: 0 6px;
    button {
      border: none;
      background: inherit;
      color: #999999;
      &:hover, &:focus {
        color: white;
      }
    }
  }
}

// RESULTS

.resultContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 auto;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 1rem auto;
    box-shadow: 1px 1px 12px 1px rgba(126, 126, 126, 0.25);
    border-radius: 5px;
    // background: linear-gradient(180deg, #111111 9.88%, rgba(51, 51, 51, 0) 46.7%, #000000 83.06%);
    h3 {
      position: absolute;
      bottom: 45px;
      font-size: 1.3rem;
      text-align: center;
    }
  }
}

.posterContainer {
  object-fit: cover;
  border-radius: 5px;
  height: 400px;
  width: 350px;
  // background: linear-gradient(180deg, #111111 9.88%, rgba(51, 51, 51, 0) 46.7%, #000000 83.06%);
  img {
    opacity: 0.45;
    box-shadow: 1px 1px 12px 1px rgba(126, 126, 126, 0.25);
    border-radius: 5px;
    width: 100%;
    height: 100%;
  }
}

.resultsInfo {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  z-index: 10;
  p {
    font-size: 0.9rem;
  }
}

.detailsButton {
  position: absolute;
  bottom: 25px;
  font-size: 0.9rem;
}

.saveButtons button {
  border: none;
  border-radius: 50%;
  padding: 6px;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.1);
  .fa-eye,
  .fa-bookmark {
    color: white;
  }
}

.fa-eye {
  height: 20px;
  width: 23px;
}

.fa-bookmark {
  height: 20px;
  width: 23px;
}

.saveButtons, .dbInfo {
  margin: 0 25px;
}

.dbInfo {
  display: flex;
}

.logoContainer {
  width: 40px;
  height: 24px;
  margin-right: 15px;
}

.detailsButton {
  padding: 8px 15px;
  border: none;
  background-color: $highlight;
  color: white;
  border-radius: 70px;
}

// ERROR MESSAGE

.errorMessage {
  h3 {
    font-size: 0.9rem;
    color: #CCCCCC;
  }
  p {
    color: #999999;
  }

}