.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: rgb(30, 40, 66);
  color: white;
}

h1 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  // width: 100%;
}

.userSearch {
  // width: 100%;

  input {
    background: darkslategrey;
    color: white;
    opacity: 0.5;
    padding: 6px 15px;

    border: none;
    box-shadow: 0px 3px 7px rgba(185, 185, 185, 0.15);
    border-radius: 30px;
    // text-align: center;
    &::placeholder {
      color: white;
    }
  }
}
